# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
Desktop.ini

# Editor/IDE
.vscode/
.idea/

# Logs
*.log

# Env files
.env
.env.*

# Python
__pycache__/
*.py[cod]

# Node
node_modules/
